html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

header, footer {
  background: gray;
  color: #2B2D42;
}

.image {
  width: 30%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 200px;
  margin-bottom: 5%;
}

.intro {
  width: 350px;
  margin-top: 80px;
  margin-right: 250px;
  float: right;
}

.middle_section {
  height: 400px;
  margin-bottom: 0;
  margin-right: 0;
  background: #EDF2F4;
}
.profession {
  width: 60%;
  margin-left: 50px;
  float: left;

}

.aside-class {
  width: 30%;
  margin-left: 0;
  margin-right: 20px;
  float: right;
}

.projects {
  /* paddling-top: 0; */
  width: 50%;
  padding-bottom: 0;
  margin-left: 50px;

}
.footer {
  clear: both;
}

.skills {
  margin-left: 0;
  float: left;
}

.other-skills {
  float: right;
}
footer {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.wrapper {
  paddling: 50px;
}
.f {
  font-family: font-family: 'Caveat', cursive;

}

/* h2 {
  margin-top: 0;
  padding-top: 0;
} */
.space {
  /* margin-bottom: -10; */
}
